.container {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  align-items:flex-start;
  height: 600px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header div {
  margin: 10px;
}

.headerContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.popularRecipeContent {
  background-color: #F5C6C4;
  text-align: center;
  padding: 10px;
}
.card {
  background-color: #F5C6C4;
  border: none;
}
.popularRecipeContent h2 {
  margin-top: 0px;
  padding-bottom: 10px;
}
.popularRecipeCards {
  display: flex;
  justify-content: space-around;
}
.circleDiv {
  display: inline-block; 
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%; 
} 

.mainContent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.mainRecipe {
 justify-content: center;
  display: flex;
  width: 45%;
}

.mainRecipeCard {
  width: 530px;
  height: 550px;
}
.highlightContainer {
  border: 0.1px solid lightgray;
  padding: 10px;
}
.sideContent {
}

.buttonStyle {
  border: none;
  background-color: #FFFFFF;
}

.btn:first-child:hover {
  border-bottom: #F5C6C4 .5px;
}

.buttonStyle:hover {
  transform: scale(1.1);
  border-bottom: .5px #F5C6C4;
}
@media (max-width: 1050px) {
  .mainRecipe {
    order: -1;
    align-self: center;
    width: 100%;
    height: 100%;
  }
  .mainRecipeCard {
    width: 70%;
  }
  .mainContent {
    justify-content: center;
  }
  .sideContent {
    order: 1;
    margin: 10px;
  }
  .highlightContainer {
    order: 1;
    margin: 10px;
  }
}

@media (max-width: 620px) {
  .popularRecipeCards {
    flex-direction: column;
    align-items: center;
  }
  .highlightItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .highlightContainer {
    overflow-y: auto;
  }
}
