.nav ul li {
    list-style: none;
}

.nav ul {
    margin-bottom: 0px;
}
.nav {
    background-color: #F5C6C4;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}